<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="team18/Team18menu.css">
</head>

<body>

	<br>
	
	<div class="menu-container">
		<p class="title-name" th:if="${titleName != null}" th:text="あなたの称号: + ${titleName}">
		</p>
		<h2 class="user-name" th:text="ようこそ + ${user.userNm} + 様"></h2>

		<form method="post" th:action="@{/team18menu}">
			<input type="submit" name="search" value="本を検索する・借りる" />
			<input type="submit" name="return" value="本を返却する" />
		</form>
	</div>
</body>

</html>