<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>検索結果ページ</title>
<link rel="stylesheet" type="text/css" href="team18/Team18search.css">
</head>
<body>
	<div th:if="${searchList == null or searchList.isEmpty()}">

	        <h1>該当する本がありません</h1>

	    </div>
	<table>
		<caption>検索結果</caption>

	
	<tr class="book-card"th:each="book : ${searchList}">
		<td>
	    <img class="book-image"
	         th:src="@{/team18/{file}(file=${book.cover})}"
	         alt="本の表紙">
		</td>
	    

	        <td><p class="result"th:text="${book.bookNm}"></p></td>

	        <td><p class="result"th:text="'作者：' + ${book.author}"></p></td>

	        <td><p class="result"th:text="'発行日：' + ${book.publishDay}"></p></td>

	        <td><p class="result"th:text="'在庫：' + ${book.stock}"></p></td>
			
			<td>			<form th:action="@{/team18rental}"
				              method="post">

				            <input type="hidden"
				                   name="bookId"
				                   th:value="${book.bookId}">

								   <button type="submit"
								               th:disabled="${book.stock <= 0}"
								               th:text="${book.stock <= 0} ? '在庫なし' : '借りる'">
								          レンタル
								       </button>
				        </form></td>
			</tr>
			
	        </table>
			
	        <a th:href="@{/team18search}">
	            戻る
	        </a>
</body>
</html>