<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<title>ガチャ結果</title>
	<link rel="stylesheet" type="text/css" href="team18/Team18gacha.css">
</head>
<body>
<div class="gacha-container">
    <div class="effect" id="effect">
        ガチャを開封中...
    </div>
    <div class="result hidden" id="result">
        <h1>ガチャ結果</h1>
        <div class="rarity"
             th:text="${rarityname}">
        </div>
        <div class="title-name"
             th:text="${name}">
        </div>
        <form method="get"
              th:action="@{/team18menu}">
            <button class=back-button type="submit">
                メニューに戻る
            </button>
        </form>
    </div>
</div>
<script>
setTimeout(() => {
    document.getElementById("effect")
            .style.display = "none";
    document.getElementById("result")
            .classList.remove("hidden");
}, 2500);
</script>
</body>

</html>