<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="team18/Team18return.css">
</head>
<body>
	<p th:text="${message}"></p>
	<div th:if="${book!=null}">
	<form method="get" th:action="@{/team18gacha}">
		
		<img th:src="'/team18/' + ${book.cover}" width=200>
		<p th:text="${book.bookNm}"></p>
		<th:block th:text="${rentStart}"></th:block>
		<input type="submit"  value="返却" />
	</form>
	</div>	
</body>
</html>