<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="team18/Team18return.css">
</head>
<body>
	<form method="get" th:action="@{/team18gacha}">
		<p th:text="message"></p>
		<img src="src/main/resouces/static/team18/${book.cover}" width=200>
		<p th:text="${book.bookNm}">
		<th:block th:text="rentStart">
		</th:block>
		</p>
		<input type="submit"  value="返却" />
	</form>	
</body>
</html>