<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>返却画面</title>
<link rel="stylesheet" th:href="@{/team18/Team18return.css}">
</head>
<body>

<form th:action="@{/team18return}" method="post">

    <div th:if="${#lists.isEmpty(rentalList)}">
        現在貸出中の本はございません
    </div>

    <div class="book-card"
         th:each="status, stat : ${rentalList}">

        <label>
            <input type="radio"
                   name="logId"
                   th:value="${status.logId}">
			</label>
            <img class="book-image"
                 th:src="@{'/team18/' + ${bookList[stat.index].cover}}"
                 alt="本の表紙">

            <div class="book-info">

                <h3 th:text="${bookList[stat.index].bookNm}">
                    本の名前
                </h3>


                <p>
                    作者：
                    <span th:text="${bookList[stat.index].author}"></span>
                </p>

                <p>
                    貸出日：
                    <span th:text="${status.rentStart}"></span>
                </p>

            </div>
        

    </div>

    <button type="submit"
            name="return"
            th:if="${!#lists.isEmpty(rentalList)}">
        選択した本を返却
    </button>
	<button type="button"
	        onclick="location.href='/team18menu'">
	    メニューに戻る
	</button>

</form>

</body>
</html>