<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>検索結果</title>
</head>
<body>
<form th:action="@{/team18rental}" th:method="get">
	<th:block class="scrollbox" th>
		<div class="book-card" th:each="book : ${searchList}">
		<img class="book-image" th:src=	"@{'/team18/' + ${book.cover}}"alt="本の表紙">
		<div class="book-info">
		          <h2 th:text="${book.bookNm}">本のタイトル</h2>
		          <p th:text="'作者：' + ${book.author}">作者</p>
		          <p th:text="'発行日：' + ${book.publishDay}">発行日</p>
		          <p th:text="'在庫：' + ${book.stock}">在庫</p>
				  <a th:href="@{/team18rental(bookId=${book.bookId})}">
		                    レンタル
		            </a>
		     </div>
		 </div>
	</th:block> 
</form>	
</body>
</html>