<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>新規登録ページ</title>
<link rel="stylesheet" type="text/css" href="team18/Team18login.css">
</head>
<body>
	<form th:action="@{/team18register}" method="post" th:object="${team18RegisterForm}">
		<h1 class="center">新規登録</h1>
	    <p class="ensyu">名前</p>
	    <input type="text" th:field="*{userNm}">
		<p class="error" th:if="${#fields.hasErrors('userNm')}" th:errors="*{userNm}"></p>
	    <br>
	    <p class="ensyu">メール</p>
	    <input type="email" th:field="*{userEmail}">
		<p class="error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></p>
	    <br>
	    <p class="ensyu">パスワード</p>
	    <input type="password" th:field="*{userPass}">
		<p class="error" th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}"></p>
	    <br>
	    <button type="submit" name="register">
	        登録
	    </button>
		<a th:href="@{/team18librarylogin}">戻る</a>	
	</form>
	
</body>
</html>