<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>ログインページ</title>
<link rel="stylesheet" type="text/css" href="team18/Team18login.css">
</head>
<body>
	<form th:method="post" th:action="@{/team18librarylogin}" th:object="${team18LoginForm}">
	<p class="ensyu">メールアドレス</p>
	<input type="text" th:size="10" th:field="*{userEmail}">
	<span class="error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></span>
	<p class="ensyu">パスワード</p>

	<input type="text" th:size="10" th:field="*{userPass}">
	<span class="error" th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}"></span>
	<input type="submit" th:value="ログイン">
	<script th:if="${msg}">
		    alert('[[${msg}]]');
		</script>
<a th:href="@{/team18register}">新規登録</a>	
</form>

</body>
</html>