<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="team18/Team18login.css">
</head>
<body>
	<script th:if="${msg}">
	    alert('[[${msg}]]');
	</script>
	<p th:text="${error}"></p>	
	<form th:method="post" th:action="@{/team18librarylogin}" th:object="${team18LoginForm}">
	メールアドレス
	<input type="text" th:size="10" th:field="*{userEmail}">
	<th:block th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></th:block>
	パスワード
	<input type="text" th:size="10" th:field="*{userPass}">
	<th:block th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}"></th:block>
	<input type="submit" th:value="ログイン">
<a th:href="@{/team18register}">新規登録</a>	
</form>

</body>
</html>